# Audio Processing and Numerical Operations
numpy
librosa
pyaudio
pydub`
sounddevices

# Spotify API Interaction
spotipy

# Data Visualization
matplotlib

#userinterface
pyqt6


# For loading environment variables (API Keys)
python-dotenv

