# Audio Processing and Numerical Operations
numpy
librosa
pyaudio
pydub

# Spotify API Interaction
spotipy

# Data Visualization
matplotlib

# GUI Framework (Choose one and uncomment, Kivy is good for touchscreens)
# kivy
# pyqt5

# For loading environment variables (API Keys)
python-dotenv