# Audio Processing and Numerical Operations
numpy
librosa
pyaudio
pydub
sounddevice

#  API Interaction
spotipy
pyacrcloud

# Data Visualization
matplotlib

#userinterface
pyqt6


# For loading environment variables (API Keys)
python-dotenv